<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!-- it's very late ... the following form may need re-writing! I'd better review the syntax surrounding *{} vs ${},
and the rest of the model binding material.  Did we do that with a <select> element somewhere else?  Maybe in TechJobs? -->

<form th:object="${form}" method="post" action="/menu/add-item">

    <label th:for="cheeseId">Item</label>

    <select name="cheeseId">
        <option th:each="cheese : ${form.cheeses}" th:text="${cheese.getName()}" th:field="*{cheeseId}" th:value="${cheese.Id}"></option>
    </select>
    <span th:errors="*{cheeseId}"></span>
    <input type="hidden" name="menuId" th:value="*{menu.id}" />


    <!--
    <div class="form-group">
        <label th:for="name">Name</label>
        <input th:field="*{name}" />
    </div>
    -->

    <input type="submit" value="Add Item" />

</form>

</body>
</html>