<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<ul>
    <!-- Why don't these links work?  the "menu.getId" part isn't being evaluated for some reason. -->
    <li th:each="menu : ${menus}" >
        <a th:href="@{/menu/view/{id}(id=${menu.id})}" th:text="${menu.getName()}" ></a>
    </li>
</ul>

<a href="menu/add">Add Menu</a>

</body>
</html>